__pycache__/
*.py[cod]
venv/
.venv/
env/
.env
.dart_tool/
build/
.vscode/
.idea/
nul
*.log
.metadata
.flutter-plugins
.flutter-plugins-dependencies
.packages
train/
*.csv
android/.kotlin/
ios/Pods/
.flutter-plugins
.flutter-plugins-dependencies
lib/main.dart.backup
macos/
windows/
linux/
ios/
